/* Estiliza o corpo da página */
body {
    margin: 0; /* Remove margens padrão */
    background: #111; /* Fundo quase preto */
    color: #fff; /* Texto branco */
    font-family: sans-serif; /* Fonte sem serifa */
    display: flex; /* Layout flexível */
    flex-direction: column; /* Elementos em coluna */
    align-items: center; /* Centraliza elementos horizontalmente */
}

/* Estiliza o canvas do jogo */
canvas {
    background: #6b6969; /* Fundo escuro para o canvas */
    margin-top: 20px; /* Espaço acima do canvas */
}

/* Estiliza a div de status */
#status {
    margin-top: 10px; /* Espaço acima do texto de status */
}


/* botoes de controle */  


#controls {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 20px auto;
  user-select: none;
}

#controls button {
  position: absolute;
  width: 70px;
  height: 70px;
  font-size: 24px;
  background: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  touch-action: manipulation;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls button:active {
  background: #555;
}

/* Posicionamento em cruz */
#controls button[data-dir="UP"] {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#controls button[data-dir="DOWN"] {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#controls button[data-dir="LEFT"] {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

#controls button[data-dir="RIGHT"] {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* nome do jogador */

#playerNameContainer {
  margin: 10px auto;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}

#playerName {
  width: 80px;
  font-size: 18px;
  padding: 4px;
  text-transform: uppercase;
  text-align: center;
}

#btnSetName {
  padding: 5px 10px;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  background: #333;
  border: none;
  border-radius: 4px;
  color: white;
}

#btnSetName:hover {
  background: #555;
}
